registry=https://nexus.sbx.zone/repository/npm/
@lbg:registry=http://nexus.sandbox.extranet.group/nexus/content/groups/npm-master/
@constellation:registry=http://nexus.sandbox.extranet.group/nexus/content/groups/npm-master/
sonar_scanner_base_url=http://nexus.sandbox.extranet.group/nexus/service/local/repositories/binaries/content/sonar-scanner
sonar_scanner_cli_version=3.2.0.1227:
