registry=https://nexus.sbx.zone/repository/npm-proxy
sass_binary_site=http://nexus.sandbox.extranet.group/nexus/service/local/repositories/binaries/content/node-sass
sonar_scanner_base_url=http://nexus.sandbox.extranet.group/nexus/service/local/repositories/binaries/content/sonar-scanner
sonar_scanner_cli_version=3.2.0.1227