registry=https://nexus.sbx.zone/repository/npm-proxy
http_proxy=http://dmz-proxy-01.sandbox.local:3128/
https_proxy=http://dmz-proxy-01.sandbox.local:3128/
no_proxy=localhost,127.0.0.1,registry.sbx.local,nexus.sbx.zone,nexus.sandbox.extranet.group,10.113.140.170,10.113.140.179,10.113.140.187,10.113.140.168
sass_binary_site=http://nexus.sandbox.extranet.group/nexus/service/local/repositories/binaries/content/node-sass
sonar_scanner_base_url=http://nexus.sandbox.extranet.group/nexus/service/local/repositories/binaries/content/sonar-scanner
sonar_scanner_cli_version=3.2.0.1227