.title {
  color: #006a4d;
}

.clientDetailContainer {
  background-color: white;
  padding: 10px;
  width: 50%;
}

.clientDetailTable td {
  padding: 11px 10px 11px 0;
}

.clientDetailTable td:last-child {
  font-weight: bold;
}
